<div th:fragment="content_pages_capquyenadmin" th:if="${url} == 'capquyenadmin'" class="container-fluid">

    <div class="my-2"></div>

    <!--Table content-->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cấp quyền admin</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th th:each="column : ${columns}" th:text="${column}"></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th th:each="column : ${columns}" th:text="${column}"></th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="assignAdminModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelAssign">Gán quyền admin</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có muốn gán quyền admin tài khoản <strong
                        id="tendn" style="color: #e02d1b"></strong> với mã tài khoản là <strong id="matk" style="color: #e02d1b"></strong>.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <a class="btn btn-primary" href="#" id="btn_assign_taikhoan">Gán quyền</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cancelAssignAdminModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelCancelAssign">Hủy quyền admin</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có muốn hủy quyền admin tài khoản <strong
                        id="tendnDelete" style="color: #e02d1b"></strong> với mã tài khoản là <strong id="matkDelete" style="color: #e02d1b"></strong>.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <a class="btn btn-primary" href="#" id="btn_cancel_assign_taikhoan">Hủy quyền</a>
                </div>
            </div>
        </div>
    </div>
</div>

