<div th:fragment="content_pages_thongtindangkiadmin" th:if="${url} == 'thongtindangkiadmin'" class="container-fluid">

    <!-- Page Heading -->
    <!--
        <h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
            For more information about DataTables, please visit the
            <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>
    -->

    <!--Button add entity-->
    <!--<a id="btn_create" href="#" class="btn btn-success btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-plus"></i>
                                        </span>
        <span class="text">Thêm mới</span>
    </a>-->
    <!--<span class="context-menu-one btn btn-neutral">right click me</span>-->
    <div class="my-2"></div>

    <!--Table content-->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Thông tin đăng kí chuyên ngành</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th th:each="column : ${columns}" th:text="${column}"></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th th:each="column : ${columns}" th:text="${column}"></th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>

